<!-- index.html -->
<!-- html file for handling the index for the web pages -->
{% extends "base.html" %}

{% block content %}
    <h1 style="text-align: center">Hi, {{ current_user.username }}!</h1>
    <hr>
    <h1 style="text-align: center"><img style="vertical-align:middle" src="/static/ball.gif" width="100" height="auto">Welcome to the SpringSpeegle Database Project!<img style="vertical-align:middle" src="/static/ball.gif" width="100" height="auto"></h1>
    <div style="text-align: center;"> <img src="/static/speegle.gif" width="auto" height="auto"></div>
{% endblock %}