{% extends "base.html" %}

{% block content %}
    <h1> User: {{ user.username }}</h1>
    <h1> {{ teams }} Roster  for {{ years }}</h1>
    <hr>
    <h1> Batting </h1>
    <table border = 0>
        <thead>
        <td><b>Player</b></td>
        <td><b>Pitcher</b></td>
        <td><b>Catcher</b></td>
        <td><b>First Base</b></td>
        <td><b>Second Base</b></td>
        <td><b>Third Base</b></td>
        <td><b>Short Stop</b></td>
        <td><b>Left Field</b></td>
        <td><b>Center Field</b></td>
        <td><b>Right Field</b></td>
        <td><b>Batting Average</b></td>
        <td><b>On Base Percentage</b></td>
        <td><b>Slugging Percentage</b></td>
        {% for row in batting_stats %}
        <tr>
            <td>{{ row["Name"] }}</td>
            <td>{{ row["G_p"] }}</td>
            <td>{{ row["G_c"] }}</td>
            <td>{{ row["G_1b"] }}</td>
            <td>{{ row["G_2b"] }}</td>
            <td>{{ row["G_3b"] }}</td>
            <td>{{ row["G_ss"] }}</td>
            <td>{{ row["G_lf"] }}</td>
            <td>{{ row["G_cf"] }}</td>
            <td>{{ row["G_rf"] }}</td>
            <td>{{ row["batAvg"] }}</td>
            <td>{{ row["basPtg"] }}</td>
            <td>{{ row["slgPtg"] }}</td>
        </tr>
        {% endfor %}
    </table>
    <hr>
    <h1> Pitching </h1>
    <table border = 0>
        <thead>
        <td><b>Player</b></td>
        <td><b>Games Pitched</b></td>
        <td><b>Games Started</b></td>
        <td><b>Innings Pitched</b></td>
        <td><b>WHIP</b></td>
        <td><b>SO per 9 Innings</b></td>
        </thead>
        {% for row in pitching_stats %}
        <tr>
            <td>{{ row["Name"] }}</td>
            <td>{{ row["G_p"] }}</td>
            <td>{{ row["GS"] }}</td>
            <td>{{ row["Inn"] }}</td>
            <td>{{ row["WHIP"] }}</td>
            <td>{{ row["SOp9"] }}</td>
        </tr>
        {% endfor %}
    </table>
    <hr>
{% endblock %}